{% extends 'html/base.html' %}
{% block title %} Benefits {% endblock %}
{% block content %}
{% load static %}
<div class="none" style="background-color: black;">
<div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
    <li data-target="#demo" data-slide-to="6"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/benefits2.jpg' %}" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: white;">24x7 Room Service</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/benefits3.jpg' %}" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: black;">Air Conditioner</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/benefits1.jpg' %}" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: black;">24x7 FREE WIFI</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/benefits4.jpg' %}" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: tomato;">24x7 Hot Water</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/benefits5.jpg' %}" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: black;">Swimming Pool</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/benefits6.jpg' %}" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: black;">Children's Play Garden</h3>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>

<footer class="footer" style="padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-hotel"></i> HOLIDAYINN CO INC.</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'hm' %}">Home</a></li>
                            <li><a href="{% url 'ab' %}">Benefits</a></li>
                            <li><a href="{% url 'ct' %}">Information</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'reg' %}">Register</a></li>
                            <li><a href="{% url 'lgn' %}">Login</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="https://www.facebook.com/HolidayInn" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://twitter.com/HolidayInn" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://www.instagram.com/holidayinn/" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Thank You</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <video width="300" height="200" controls autoplay muted>
                      <source src="{% static 'images/vedio1.mp4' %}" type="video/mp4">
                    </video>
                </form>
            </div>
        </div>
    </div>
</footer>
{% endblock %}