{% extends 'html/base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
{% load static %}
<div style="background-color: black;color: grey;">
<div class="container">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body mx-1">
			<h2 class="bg-dark text-center text-white border rounded my-2">Registration Form</h2>
			<form method="POST">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for i in t %}
					<tr>
						<td>{{i}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" class="form-control text-white btn btn-success" name="Subscribe">
			</form>
		</div>
	</div>
</div>
<footer class="footer" style="padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-hotel"></i> HOLIDAYINN CO INC.</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'hm' %}">Home</a></li>
                            <li><a href="{% url 'ab' %}">Benefits</a></li>
                            <li><a href="{% url 'ct' %}">Information</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'reg' %}">Register</a></li>
                            <li><a href="{% url 'lgn' %}">Login</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="https://www.facebook.com/HolidayInn" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://twitter.com/HolidayInn" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://www.instagram.com/holidayinn/" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Thank You</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <video width="300" height="200" controls autoplay muted>
                      <source src="{% static 'images/vedio1.mp4' %}" type="video/mp4">
                    </video>
                </form>
            </div>
        </div>
    </div>
</footer>
{% endblock %}